<div id="<%= dom_id character_tune %>">
  <p>
    <strong>Character:</strong>
    <%= character_tune.character_id %>
  </p>

  <p>
    <strong>Tune:</strong>
    <%= character_tune.tune_id %>
  </p>

</div>
