<h1>Editing character tune</h1>

<%= render "form", character_tune: @character_tune %>

<br>

<div>
  <%= link_to "Show this character tune", @character_tune %> |
  <%= link_to "Back to character tunes", character_tunes_path %>
</div>
