<div id="<%= dom_id tune %>">
  <p>
    <strong>Name:</strong>
    <%= tune.name %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= tune.difficulty %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= tune.memo %>
  </p>

</div>
